.wrapper {
    min-width: 100px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    outline: none;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.outline {
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
        border-color: var(--primary-color);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.primary {
    background-color: var(--primary-color);
    color: #fff;
    border-color: transparent;

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
