.wrapper {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--white-color);
    background: rgba(254, 44, 85, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
