.wrapper {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background 200ms ease-in-out 0s;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.clip-text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.break {
    word-wrap: break-word;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.info {
    margin-left: 12px;
}

.name {
    color: rgb(22, 24, 35);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.03px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.check {
    margin-left: 4px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.4rem;
    letter-spacing: 0.093px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 500;
    text-overflow: ellipsis;
}
