.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 32px;
    transition: background-color 200ms ease-in-out 0s;

    &.active {
        color: var(--primary-color);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 24px;
    letter-spacing: -0.028px;
    margin-left: 8px;
}

.icon {
    display: flex;
    align-items: center;
}
