.wrapper {
    position: relative;
}

.video {
    max-width: 556px;
    max-height: calc(450px + (100vw - 768px) / 1152 * 200);
    margin-right: 20px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    color: var(--white-color);
}

.play-btn {
    left: 12px;
    position: absolute;
    bottom: 12px;
    padding: 10px;
    width: 40px;
    height: 40px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    bottom: 26px;
}
